<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Your Logo" thread-count="2" verbose="4" parallel="none" configfailurepolicy="skip">






<test name="Ecommerce Application Test">
<parameter name="browser" value="chrome"/>
  <classes>
			<class name="com.Mytest.LoginTest" />
			<class name="com.Mytest.HomeTest" />
        </classes>
        
    </test> 
    
    
    
     </suite>